/* Variable declaration */

:root{
    --main-colour: #202C39;
    --secondary-colour: #283845;
    --alt-colour: #B8B08D;
    --accent-colour: #f2d492;
    --secondary-accent-colour: #f29559;
}

/* || Universal selectors */

*{
    box-sizing: border-box;
}

/* || Element selectors */

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-colour);
}

header, footer{
    color: var(--secondary-colour);
    background-color: var(--alt-colour);
    padding: 20px 20px 10px 20px;
}

h1{
    font-size: 3em;
    padding-bottom: 12px;
    font-weight: 650;
    display: flex;
    align-items: center;
}

h1::before{
    content: ">>";
    font-size: 0.75em;
    color: var(--accent-colour);
    position: relative;
    left: -20px;
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
}

h4{
    font-weight: 700;
}

nav ul li:not(:last-child){
    margin-right: 2em;
}

a:hover{
    color: var(--accent-colour);
}

section{
    margin-bottom: 50px;
}

footer{
    position: relative;
    bottom: 0;
}

/* || Class selectors */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-project .project-card, img, header, footer{ /* Setting elements that should take up their entire container */
    width: 100%;
}

.project-card{
    position: relative;
    margin: 15px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.thumbnail{
    width: 300px;
    height: 300px;
}

.popup, .project-card-name{
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: var(--secondary-accent-colour);
}

.popup{
    border-radius: 10px 0 0 0;
    bottom: 0;
    right: 0;
}

.project-card:hover .popup{
    display: inline-block;
}

.project-card-name{
    left: 0;
    top: 50px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
}

.project-card:hover .project-card-name{
    display: inline-block;
}

.hero-project{
    width: 75%;
    justify-content: center;
}

.hero-project .popup{
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 20px 0 0 0;
    line-height: 1.25em;
}

.hero-project .project-card-name{
    font-size: 3em;
    padding: 20px 30px;
}

.hero-project .project-card, .hero-project .project-card a img{
    height: 600px;
}

.sub-projects{
    max-width: 990px;
}

.avatar{
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid var(--accent-colour);
}

.about-blurb{
    max-width: 33%;
}

.contact-list{
    line-height: 3em;
}

.contact-list li a{
    display: flex;
    align-items: center;
}

.icon{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

/* Media queries */

@media screen and (max-width: 992px){
    body{
        font-size: 14px;
    }

    .hero-project .project-card, .hero-project .project-card a img{
        height: 450px;
    }

    .sub-projects{
        flex-direction: column;
    }

    .hero-project .project-card-name{
        font-size: 2.5em;
        padding: 15px 20px;
    }
}

@media screen and (max-width: 768px){
    body{
        font-size: 12px;
    }
    
    .hero-project .project-card, .hero-project .project-card a img{
        height: 350px;
    }

    .hero-project .project-card-name{
        font-size: 2em;
        padding: 10px 15px;
    }

    .about-blurb{
        max-width: 45%;
    }
}